.login {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__IconButton {
  min-width: 0 !important;
  width: 60px !important;
  height: 60px !important;
  border-radius: 50px !important;
  transition: all 100ms ease-out !important;
}

.login__IconButton:hover {
  background-color: var(--extra-light-primary) !important;
  color: var(--primary) !important;
}

.login__Icon {
  height: 50px !important;
  width: 50px !important;
}

.login__header {
  margin-bottom: 10px;
}

.login__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__inputContainer {
  width: 100%;
  margin: 10px 0;
  padding: 5px 35px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--dark);
  border-radius: 15px;
  font-weight: 600;
  font-size: 20px;
}

.login__input {
  outline: none;
  border: none;
  font-size: 20px;
}

.login__Button {
  background-color: var(--primary) !important;
  border-radius: 50px !important;
  color: var(--light) !important;
  padding: 15px 20px !important;
  margin: 10px 0px !important;
  width: 100% !important;
  text-transform: none !important;
  font-size: 16px !important;
  font-weight: 800 !important;
  transition: all 100ms ease-out !important;
}

.login__Button:hover {
  background-color: var(--dark-primary) !important;
}

.login__text {
  margin-top: 10px;
}
